[submodule "src/can_bus_comm"]
	path = src/can_bus_comm
	url = git@gitlab.local.eurecat.org:robotics-automation/can_bus_comm.git
[submodule "src/r4c_can_adapter/3rdparty/dbcppp"]
	path = src/r4c_can_adapter/3rdparty/dbcppp
	url = https://github.com/xR3b0rn/dbcppp.git
[submodule "src/r4c_navigation_stack/eut_pure_pursuit"]
	path = src/r4c_navigation_stack/eut_pure_pursuit
	url = git@gitlab.local.eurecat.org:robotics-automation/eut_pure_pursuit.git
[submodule "src/r4c_navigation_stack/eut_nav_utils"]
	path = src/r4c_navigation_stack/eut_nav_utils
	url = git@gitlab.local.eurecat.org:robotics-automation/eut_nav_utils.git
[submodule "src/livox_ros2_driver"]
	path = src/livox_ros2_driver
	url = https://github.com/Duna-System/livox_ros2_driver.git
[submodule "src/serial"]
	path = src/serial
	url = https://github.com/mikeferguson/serial.git
[submodule "src/um7"]
	path = src/um7
	url = https://github.com/mikeferguson/um7.git
[submodule "src/eut_crop_row_estimator"]
	path = src/eut_crop_row_estimator
	url = git@gitlab.local.eurecat.org:robotics-automation/eut_crop_row_estimator.git
[submodule "src/eut_fast_lio"]
	path = src/eut_fast_lio
	url = git@gitlab.local.eurecat.org:robotics-automation/eut_fast_lio.git
[submodule "src/eut_laser_trunk_detector"]
	path = src/eut_laser_trunk_detector
	url = git@gitlab.local.eurecat.org:robotics-automation/eut_laser_trunk_detector.git
[submodule "src/eut_depthai"]
	path = src/eut_depthai
	url = git@gitlab.local.eurecat.org:robotics-automation/eut_depthai.git
[submodule "src/rslidar_msg"]
	path = src/rslidar_msg
	url = https://github.com/RoboSense-LiDAR/rslidar_msg.git
[submodule "src/eut_rslidar_sdk"]
	path = src/eut_rslidar_sdk
	url = git@gitlab.local.eurecat.org:robotics-automation/eut_rslidar_sdk.git
[submodule "src/eut_maneuver_generation"]
	path = src/eut_maneuver_generation
	url = git@gitlab.local.eurecat.org:robotics-automation/eut_maneuver_generation.git
[submodule "src/rviz_satellite"]
	path = src/rviz_satellite
	url = https://github.com/blacksoul000/rviz_satellite
[submodule "src/r4c_navigation_stack/eut_fixed_gplanner"]
	path = src/r4c_navigation_stack/eut_fixed_gplanner
	url = git@gitlab.local.eurecat.org:robotics-automation/eut_fixed_gplanner.git
[submodule "src/eut_ground_vehicle_twist_odometry"]
	path = src/eut_ground_vehicle_twist_odometry
	url = git@gitlab.local.eurecat.org:robotics-automation/eut_ground_vehicle_twist_odometry.git
[submodule "src/eut_hallway_detector"]
	path = src/eut_hallway_detector
	url = git@gitlab.local.eurecat.org:robotics-automation/eut_hallway_detector.git
[submodule "src/rs_to_velodyne"]
	path = src/rs_to_velodyne
	url = git@github.com:lss233/rs_to_velodyne.git
[submodule "src/eut_fake_localization"]
	path = src/eut_fake_localization
	url = https://ice.eurecat.org/gitlab/robotics-automation/eut_fake_localization.git
[submodule "src/eut_ackermann"]
	path = src/eut_ackermann
	url = git@gitlab.local.eurecat.org:robotics-automation/eut_ackermann.git
[submodule "src/r4c_interfaces"]
	path = src/r4c_interfaces
	url = https://github.com/robs4crops/r4c_interfaces.git
[submodule "src/ntrip_client"]
	path = src/ntrip_client
	url = git@gitlab.local.eurecat.org:robotics-automation/ntrip_client_pkg.git
[submodule "src/livox_ros_driver2"]
	path = src/livox_ros_driver2
	url = git@github.com:mourams/livox_ros_driver2.git
[submodule "src/ublox"]
	path = src/ublox
	url = git@github.com:KumarRobotics/ublox.git
[submodule "src/web_video_server"]
	path = src/web_video_server
	url = git@github.com:preverte/web_video_server.git
[submodule "src/r4c_navigation_stack/vector_pursuit_contoller"]
	path = src/r4c_navigation_stack/vector_pursuit_contoller
	url = https://github.com/blackcoffeerobotics/vector_pursuit_controller.git
